@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
html,
body {
  font-family: "Montserrat", arial, "Helvetica Neue", helvetica, sans-serif;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: black;
}

.preloader {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 300px;
  color: white;
  text-align: center;
}

.preloader__node {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.hide {
  display: none;
}

.hud {
  position: absolute;
  top: 10px;
  margin: 0 auto;
  width: 100%;
  z-index: 99999;
  text-align: center;
  a {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    color: #03143f;
    background-color: #fff;
    border-radius: 8px;
    text-decoration: none;
  }
}

canvas {
  /* stylelint-disable-next-line */
  position: relative !important;
}
