<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{pagetitle}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <!-- build:css -->
  <link rel="stylesheet" href="styles/style.css">
  <!-- endbuild -->
</head>
<body class="{{bodyclass}}">
  {% body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<!-- build:jsLib -->
<script src="scripts/libs.js"></script>
<!-- endbuild -->
<!-- build:jsMain -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

</body>
</html>
